p1-bot.ru {
    encode gzip

    handle /api/* {
        reverse_proxy backend:3000 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle {
        root * /usr/share/caddy/html
        try_files {path} /index.html
        file_server
    }

    log {
        output file /data/acess.log
    }
}

www.my-domain.com {
    redir https://p1-bot.ru{uri} permanent
}